

/* .col-3 img {
    margin: 10ch;
    margin-right: 10px;
    padding-right: 200px;
    justify-content: center;
} */
.fotomasak {
    width: 100%;
    height: auto;
}
.bagikan {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 20px;
}

