.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffd6;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    padding-left: 100px;
  }
  
  .navbar-logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  .navbar-logo span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 100px;
    padding-right: 100px;
  
  }
  
  .navbar-links li {
    margin: 0 10px;
  }
  
  .navbar-links a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }
  
  .navbar-links a.active,
  .navbar-links :hover {
    color: #f8b400;
  }
  .navbar-auth {
    display: flex;
    align-items: center;
    padding-right: 100px;
  }
  
  .login-button,
  .signup-button {
    background-color: #fff;
    border: 1px solid #333;
    padding: 5px 15px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signup-button {
    background-color: #333;
    color: #fff;
  }
  
  .login-button:hover,
  .signup-button:hover {
    background-color: #f8b400;
    color: #fff;

  }
