.recipe-detail-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.recipe-header {
  margin-bottom: 20px;
}

.recipe-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.recipe-content {
  margin-bottom: 20px;
}

.recipe-video video {
  width: 950px; /* Ubah lebar video */
  display: block;
  margin: 0 auto;
  padding-right: 50px;
}

.recipe-image img {
  width: 400px;
  height: auto;
  margin-left: 100px;
}

.recipe-details h2 {
  font-size: 24px;
  color: #333;
  margin-top: 0;
  margin-left: 200px;
  margin-top: 40px;
}

.recipe-description h2,
.recipe-steps h2 {
  font-size: 24px;
  color: #333;
  margin-top: 0;
}

.recipe-details ul {
  margin-left: 45px;
  color: #b34e4e;
}
.recipe-description p,
.recipe-steps ol {
  font-size: 16px;
  color: #b34e4e;
  margin-top: 10px;
}

.recipe-details ul {
  list-style: none;
  padding-left: 200px;
}

.recipe-details ul li {
  margin-bottom: 5px;
}

.recipe-steps ol {
  list-style-type: decimal;
  padding-left: 20px;
}
