.textfav {
    text-align: center;
    padding-top: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
.recipe-gird {
    padding-top: 20px;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 3px;
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
  