html,
body {
  height: 80%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.main-content {
  flex: 1;
}

.footer {
  background-color: #343a40;
  color: white;
}

/* Jika Anda ingin menghilangkan padding secara keseluruhan,
   termasuk padding kiri dan kanan yang sebelumnya sudah 0 */
.footer {
  background-color: #343a40;
  color: white;
  padding: 0; /* Menghapus padding secara keseluruhan */
}

/* 
.footer {
  background-color: #343a40;
  color: white;
}
*/
.footer a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.footer a:hover {
  color: #ffc107;
  text-decoration: none;
}

.footer .col-md-4,
.footer .col-lg-3,
.footer .col-xl-3 {
  margin-bottom: 0px; /* Mengubah margin-top menjadi margin-bottom */
}

.footer .fab {
  font-size: 20px;
}

.footer .col-md-4 img {
  max-width: 80%;
  height: auto;
}

.footer h5 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
  font-size: 18px; /* Menyesuaikan ukuran font */
}

.footer h5::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 2px;
  background-color: #ffc107;
}

.Copyrigt {
  background-color: #ffc107;
  text-align: center;
  padding: 8px 0;
  font-size: 12px; /* Menyesuaikan ukuran font */
}

.Copyrigt p {
  margin-bottom: 0;
}

.Copyrigt:hover {
  color: #000000;
  cursor: pointer;
}

.small-text {
  font-size: 12px; /* Menyesuaikan ukuran font */
}

.logo {
  max-width: 100%;
  height: auto;
  margin-left: 300px; /* Memindahkan logo ke kanan */
}
.textspanset {
  font-weight: bold;
  font-family: serif;
  font-size: 40px;
  padding-left: 20px;
}

.small-text {
  font-size: 20px; /* Menyesuaikan ukuran font */
  line-height: 1.5; /* Menyesuaikan jarak antar baris */
  color: #c1bfbf; /* Menyesuaikan warna teks */
  /* tambahkan properti CSS lain sesuai kebutuhan */
}
.img-fluid {
  width: 20%;
  height: auto;
}
