/* Navbar CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffd6;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-logo img {
  height: 40px;
  margin-right: 10px;
}

.navbar-logo span {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.navbar-links li {
  margin: 0 10px;
}

.navbar-links a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.navbar-links a.active,
.navbar-links a:hover {
  color: #f8b400;
}

.navbar-auth {
  display: flex;
  align-items: center;
}

.login-button,
.signup-button,
.logout-button {
  background-color: #fff;
  border: 1px solid #333;
  padding: 5px 15px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

.signup-button {
  background-color: #333;
  color: #fff;
}

.login-button:hover,
.signup-button:hover,
.logout-button:hover {
  background-color: #f8b400;
  color: #fff;
}

/* Responsive dropdown menu */
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #ffffffd6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-menu a,
.dropdown-menu button {
  padding: 10px 20px;
  text-align: center;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
  background-color: #f8b400;
  color: #fff;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-logo {
    margin-bottom: 10px;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    margin: 5px 0;
  }

  .navbar-auth {
    display: none;
    justify-content: center;
    margin-top: 10px;
    padding-right: 0;
  }

  .menu-icon {
    display: block;
  }

  .navbar-links.active,
  .navbar-auth.active {
    display: flex;
  }
}
