/* Existing styles */
.title-text {
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    color: #3D447A;
}

.input-group {
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn {
    color: rgb(215, 0, 0);
}

.btn-group button {
    border-color: #3D447A;
    border-style: solid;
}

.section-right {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

.btn-group {
    margin-left: auto;
}

.container {
    padding: 20px;
}

.recipe-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.recipe-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
}

.recipe-card:hover {
    transform: scale(1.05);
}

.recipe-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.recipe-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.recipe-card p {
    padding: 0 10px 20px;
    font-size: 0.9em;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
}

.btn-edit {
    background-color: #0048ff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}

.btn-delete {
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .recipe-card {
        width: 100%;
        margin-bottom: 20px;
    }
}


.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .popup-message {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .confirm-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .confirm-buttons button {
    padding: 10px 20px;
    border: none;
    background-color: #ecac16;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .confirm-buttons button:hover {
    background-color: #1bf922;
  }
  
  .confirm-buttons button:nth-child(2) {
    background-color: #ecac16;
  }
  
  .confirm-buttons button:nth-child(2):hover {
    background-color: #d81e11;
  }
  